<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="Python27_via_FastCGI" />
      <remove name="Python36_via_FastCGI" />
      <add name="PythonHandler" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="E:\ekomplektasiya-backend\venv\Scripts\python.exe|E:\ekomplektasiya-backend\venv\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^static/(.*)" />
          <action type="None" />
        </rule>
        
        <rule name="MediaFiles" stopProcessing="true">
          <match url="^media/(.*)" />
          <action type="None" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors errorMode="Detailed" />
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="E:\ekomplektasiya-backend" />
    <add key="WSGI_HANDLER" value="config.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="config.settings" />
    <add key="WSGI_LOG" value="E:\ekomplektasiya-backend\wsgi.log" />
    
    <add key="SCRIPT_NAME" value="/v3" />
  </appSettings>
</configuration>